<footer id="sticky-footer" class="py-4 bg-custom text-white-50">
  <div class=" container footer1 text-center">
    <div class="row">
      <div class="col-sm-6 ">
        <span class= "footer-text">Tech University</span><br>
        <span class= "footer-text">The Future of Learning</span>
      </div>
      <div class="col-sm-6">
        <ul class="footer-link text-center">
          <li>
            <a href="#">Help</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

      <div class="footer2">
        <span class="left-footer">&copy; 2020 Copyright
        </span>
        <span class="right-footer">More Links</span>
      </div>

    </footer>
